/*this resets the browser defaults!*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
  }

#nav {
  display: inline-flex;
  justify-content:space-around;
  align-items: center;
  /* height: 150px; */
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  margin: 15px 0;
  /* padding: 20px 20px 20px 0; */
  flex-wrap: wrap;
  align-content:center;
  background-color: #E3A039;
  border-bottom: 1px solid #B27D2C;
  border-top: 1px solid #B27D2C;
}
  
#nav#logocont {
  width: 15%;
}  

img#logo {
  border-radius: 75px;
  flex: 1 1;
}

#menuitems {
  width: 70%;
  display: inline-flex;
}

#menuitems li {
  display: inline-block;
  /* margin: 20px 5px; */
  /* min-width: 19em; */
  text-align: center;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: background-color 0.75s color 0.75s;
  flex: 1 1;
  list-style: none;
}
  
#menuitems li a {
  padding: 10px;
  border-radius: 7px;
}
#menuitems a:hover {
  color: black;
  background-color: #D19537;
}

#menuitems a:active {
  color: f5f5f5;
  background-color: #aa6f10;
}

#TBD {
  width: 15%;
}
  
#banner {
  display: inline-flex;
  justify-content:right;
  background-image: url('../Images/June\ 2022\ Desktop\ Wallpaper.png');
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
  width: 100%;
  /* align-content: center; */
  padding: 7%;
  flex-wrap: wrap;
}
  
#banner h1 {
  border: 4px solid #fff;
  border-radius: 25px;
  color: #fff;
  opacity: 0.85;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  width: 45%;
  height: 130px;
  /* flex: 1 1 650px; */
}
  
h2,
h3 {
  margin: 15px 65px;
}
  
  
.title2 {
  color: #B27D2C;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding-top: 15px;
  font-weight: 400;
}
  
.title3 {
  color: #B27D2C;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding-bottom: 5px;
}
  
p {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 15px 65px;
  /* padding: 0 150px; */
}

ul {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0px 0px;
}

figcaption {
  margin-left: 80px;
}

img {
  margin-left: 65px;
  border-radius: 15px;
}

a {
  color: #748371;
}


a:hover {
  color: #F7FFFF;
}

.imghead {
  color: #748371;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin: 0 65px;
}

.caption {
  color: #748371;
  font-weight: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 65px;
}


footer {
  opacity: 0.75;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #B6BCBB;
  background-color: #DCE4E3;
  position: relative;
}

a[href*='linkedin'] {
  color: #629D57;
  font-weight: 700;
}

/* .left-image {
    margin-left: 150px;
  } */