/* *{background-color: #F7F9F7;}* */

/*this resets the browser defaults!*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  nav {
    font-weight: 700;
    letter-spacing: 4px;
    margin: 20px auto;
    background-color: #E3A039;
    width: 100%;
    min-width: 19em;
    border-bottom: 1px solid #B27D2C;
    border-top: 1px solid #B27D2C;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
  
  nav li {
    padding: 15px;
    display: inline-block;
    width: auto;
    list-style-type: none;
    transition: background-color 0.75s color 0.75s;
    border-radius: 7px;
    text-transform: uppercase;
    text-align: center;
    }
  
  nav li:hover {
    color: black;
    background-color: #D19537;
  }

  nav a {
    color: whitesmoke;
  }

  nav a:hover {
    color: black;
  }
  
  #banner {
    background-image: url('../Images/June\ 2022\ Desktop\ Wallpaper.png'); 
    background-attachment: fixed;
    background-size: cover;
    height: 300px; 
    width: 100%;
    min-width: 800px;
    /* position: relative; */
  }
  
  #banner h1 {
    border: 4px solid white;
    border-radius: 25px;
    color: #fff;
    opacity: 0.85;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    width: 650px;
    position: relative;
    top: 96px;
    left: 635px;
  }
  
  main {
    position: relative;
  }
  
  h1 {
    padding: 15px 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    font-weight: 500;
    text-align: center;
  }
  
  h2,
  h3 {
    padding: 0 150px;
    margin: 15px 0px;
  }
  
  
  .title2 {
    color: #B27D2C;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    padding-top: 15px;
    font-weight: 400;
  }
  
  .title3 {
    color: #B27D2C;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding-bottom: 5px;
  }
  
  p,
  ul {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 15px 0px;
    padding: 0 150px;
  }
  
  figcaption {
    padding-left: 175px;
  }
  
  img {
    margin-left: 150px;
    border-radius: 15px;
  }
  
  a {
    color: #748371;
  }

 
  a:hover {
    color: #F7FFFF;
  }
  
  .imghead {
    color: #748371;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 0 150px;
  }
  
  .caption {
    color: #748371;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 150px;
  }
  
  
  footer {
    opacity: 0.75;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #B6BCBB;
    background-color: #DCE4E3;
    position: relative;
  }
  
  a[href*='linkedin'] {
    color: #629D57;
    font-weight: bold;
  }
  
  .left-image {
    margin-left: 150px;
  }