/*this resets the browser defaults!*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: visible;
  /* border-top: 1px solid blue;
  border-bottom: 1px solid red;
  border-left: 1px solid pink;
  border-right: 1px solid greenyellow; */
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#banner {
  display: grid;
  grid-template: 6rem 3fr repeat(5,1fr) 4rem/1fr 1fr;
  width: 100%;
  /* background-color: #30362f; */
  /* justify-content: space-around; */
  align-content: space-around;
  /* gap: 1rem; */
}

#nav {
  grid-area: 1/1/9/3;
  width: 100%;
  /* position: sticky; */
  /* z-index: 10; */
  background-image: url('../images/washlakebd.jpg');
  background-attachment:fixed;
  background-size:cover;
  background-position:bottom;
  /* height: 58rem; */
  }

#menuitems {
  animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -moz-animation: fadein 6s;
  -o-animation: fadein 6s;
  -ms-animation: fadein 6s;
  grid-area: 1/1/2/3;
  justify-self: end;
  padding: 1rem 0;
  margin-right: .5rem;
}

#menuitems a {
  color: #30362f;
  font-family: 'Quicksand', sans-serif;
  /* font-weight: 300; */
  letter-spacing: .01rem;
  font-size:calc(1.15rem + (1.45 - 1.15) * ((100vw - 300px) / (1600-300)));
  transition: background-color 0.75s color 0.75s;
  padding: 0.5rem 0.65rem;
  text-decoration: none;
  text-align: right;
} 
 
#menuitems a:hover {
  color: #f5f5f5;
  background-color: #30362f;
  border-radius: 0.5rem;
  border: none;
}
  
#menuitems a:active {
  color: #30362f;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.darkgreen {
  animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -moz-animation: fadein 6s;
  -o-animation: fadein 6s;
  -ms-animation: fadein 6s;
  grid-area: 2/1/3/3;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  background-color: #30362f;
  /* margin-bottom: 0.25rem; */
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

#title {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content:left;
  align-content: flex-start;
  min-width: 22rem;
  padding: 1rem;
}

#title h1 {
  color: #f5f5f5;
  opacity: 0.85;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(3rem + (3.75 - 3) * ((100vw - 300px) / (1600-300)));
  font-weight: 300;
  text-align: left;
  width: 100%;
  padding: 0.75rem 1rem;
  min-height: 9rem;
  max-height: 27rem;
}

#title p {
  width: 100%;
  color: #f5f5f5;
  opacity: 0.85;
}

#logocont {
  display: grid;
  grid-area: 1/2/2/3;
  justify-self: center;
  max-width: 25rem;
  min-width: 4rem;
  padding: 1rem;
}  

#logocont img {
  border-radius: 50%;
  max-width: 20rem;
  min-width: 4rem;
  height: auto;
  /* margin-bottom: 2rem; */
  /* display: flex; */
  border: 1px dashed #30362f;
}


.aboutme {
  animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -moz-animation: fadein 6s;
  -o-animation: fadein 6s;
  -ms-animation: fadein 6s;
  background-color: #fff;
  grid-area: 3/1/8/3;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1rem;
}

p {
  font-family: 'Quicksand', sans-serif;
  padding: 0.75rem 1rem;
}


.title2 {
color: #000;
font-family: 'Quicksand', sans-serif;
padding: 0.75rem 1rem;
font-size:calc(1.15rem + (1.45 - 1.15) * ((100vw - 300px) / (1600-300)));
font-weight: 500;
}

.title3 {
color: #6F7E6E;
font-family: 'Quicksand', sans-serif;
font-size:calc(30px + (40 - 30) * ((100vw - 300px) / (1600-300)));
padding-bottom: 7px;
}

footer {
  /* margin: 1.25rem .75rem; */
  height: auto;
  padding: 1.5rem 1rem;
  font-weight: 500;
  text-align: right;
  align-self: center;
}

.linkedin {
  font-family: comfortaa;
  color: #000;
  text-decoration: none;
}
