/*this resets the browser defaults!*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;
    margin: 15px 0;
    align-content:center;
    background-color: #34495E;
    border-bottom: 1px solid #162029;
    border-top: 1px solid #162029;
  }
    
  #nav#logocont {
    width: 15%;
    min-height: 95px;
  }  
  
  img#logo {
    border-radius: 75px;
    margin: 5px 10px;
  }
  
  #menuitems {
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    min-width: 350px;
  }
  
  #menuitems ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 5px;
  }
  
  #menuitems li {
    width: auto;
    list-style-type:none;
  }
  
  #menuitems li a {
    display: inline-flex;
    flex-wrap: wrap;
    /* margin: 0 3px; */
    text-align: center;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:calc(16px + (20 - 16) * ((100vw - 300px) / (1600-300)));
    text-transform: uppercase;
    transition: background-color 0.75s color 0.75s;
    padding: 12px 15px;
    text-decoration: none;
    /* border-left: 0.5px solid whitesmoke;
    border-right: 0.5px solid whitesmoke; */
  }
 
  #menuitems a:hover {
    color: #d6d5d5;
    background-color: #577a9c;
    border-radius: 7px;
    border: none;
  }
  
  #menuitems a:active {
    color: #577a9c;
    background-color: #85a5c5;
    border-radius: 7px;
  }
  
  #TBD {
    width: 8%;
    text-align: center;
  }
  
  #TBD p {
    color: #f5f5f5;
  }
    

#banner {
    background-image: url("../Images/coglaciertopbd.jpg");
    background-size: cover;
    background-position:75%;
    text-align: center;
    padding: 20px 0;
    height: 360px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.title {
    background-color: #f5f5f5A5;
    border: 4px solid #f5f5f5a5;
    width: 35%;
    min-width: 400px;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    max-width: 95%;
    height: auto;
}

#banner h1 {
    border-radius: 25px;
    color: #34495E;
    opacity: 0.65;
    font-family: 'Abril Fatface', cursive;
    font-size:calc(45px + (75 - 45) * ((100vw - 300px) / (1600-300)));
    letter-spacing: 3px;
    text-align: center;
    min-width: 300px;
    padding: 7px;
  }

  #banner h2 {
    color: #B27D2C;
    font-family: 'Sacramento', cursive;
    font-size:calc(40px + (65 - 40) * ((100vw - 300px) / (1600-300)));
    font-weight: 500;
    text-align: center;
    min-width: 315px;
}

main {
    margin: 0 5%;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 42px;
    font-weight: 300;
    padding-top: 25px;
    line-height: 1.5;
}

h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
    font-weight: 600;
    padding-top: 25px;
    line-height: 1.5;  
}

p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5; 
    font-size: 17px;
    padding: 10px 15px 0 15px;
}

table {
    border: 2px solid 3E5644;
    margin: 15px 15px;
    border-collapse: collapse;
}

th {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;    
    font-size: 17px;
    line-height: 1.5; 
    background-color: #3E5644;
    color: #FFFFFF;
    padding: 5px 15px;
    border: 0.5px solid #3E5644;
    white-space: nowrap;
}

td {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2; 
    font-size: 15px;
    padding: 5px 15px;
    border: 0.5px solid #3E5644;
}

.maintable td {    
    height: 108px;
}

.alphatable td {    
    height: 40px;
}

.gradient {
    background: -webkit-linear-gradient(45deg, #E59866, #7DCEA0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

/* h3.gradient {
        font-weight: bolder;
}   */

.namecolout {
    background-color: purple;
}

.hexout {
    background-color: #8DDED1;
}

.rgbout {
    background-color: rgb(65, 130, 15);
}

.hslout {
    background-color: hsl(17, 91%, 65%);
}

.hexout2 {
    background-color: #95DD8D;
}

.rgbout2 {
    background-color: rgb(149, 221, 141);
}

.hslout2 {
    background-color: hsl(114, 54%, 71%);
}
.namealpha{
    background-color: purple;
    opacity: 0.75;
}

.hexalpha {
    background-color: #8DDED1BF;
}

.rgbalpha {
    background-color: rgba(65, 130, 15, 0.75);
}

.hslalpha {
background-color: hsla(17, 91%, 65%, 75%);
}

.examplegreen {
    color: #95DD8D;
    font-weight: 900;
    letter-spacing: .03em;
    text-transform: uppercase;
}

a {
    font-weight: 500;
    color: #B03A2E;
}

a:visited {
    color: #461712;
}

a:hover {
    font-weight: bolder;
}

a:active {
    color: #DBE9EE;
}

emphasis {
    font-style: italic;
}

footer {
    opacity: 0.75;
    text-align: center;
    padding: 25px 5px;
    border-top: 1px solid #B6BCBB;
    background-color: #DCE4E3;
    position: relative;
    margin-top: 25px;
  }